@{
    ViewData["Title"] = "Home Page";
}
<h4 class="frm-group-header">TOP 10 COVID-19 CASES</h4>
<hr class="frm-group-hr" />
<main role="main" class="pb-3">
    <div id="example">
        <div class="form-row">
            <div class="col-sm-4">
                <div class="form-row col-md-12">
                    <div class="col-4 col-sm-4">
                        <label for="cmbRegion" class="detail-tag">Region:</label>
                    </div>
                    <div class="col-8 col-sm-8">
                        <select id="cmbRegion" class="form-control" required=""></select>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <a id="btnReport" class="btn btn-outline-secondary" href="#" role="button"><img src="~/img/search.png" alt="Report icon" /> Report</a>
            </div>
            <br /><br />
            <div class="col-sm-2">
                <a id="btnXML" class="btn btn-outline-secondary" href="#" role="button"><img src="~/img/xml.png" alt="XML icon" /> Export as XML</a>
            </div>
            <br /><br />
            <div class="col-sm-2">
                <a id="btnJSON" class="btn btn-outline-secondary" href="#" role="button"><img src="~/img/json.png" alt="JSON icon" /> Export as JSON</a>
            </div>
            <br /><br />
            <div class="col-sm-2">
                <a id="btnCSV" class="btn btn-outline-secondary" href="#" role="button"><img src="~/img/csv.png" alt="CSV icon" /> Export as CSV</a>
            </div>
        </div>
        <br />
        <div id="grid">
            <table id="gridData" class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th id="thFilterType" scope="col">REGION</th>
                        <th scope="col">CASES</th>
                        <th scope="col">DEATHS</th>
                    </tr>
                </thead>
                <tbody id="tbodyGrid"></tbody>
            </table>
        </div>
        <br />
    </div>
</main>
<script>
    //Definition of RESTful API's endpoints
    window.RegionsCatalogEndpoint = "@Url.Action("Regions", "Home")";
    window.GlobalReportEndpoint = "@Url.Action("Report", "Home")";
    //Definition of creation and download files endpoints
    window.XMLDownloadEndpoint = "@Url.Action("XMLDownload", "Home")";
    window.JSONDownloadEndpoint = "@Url.Action("JSONDownload", "Home")";
    window.CSVDownloadEndpoint = "@Url.Action("CSVDownload", "Home")";
    //Definition of downloaded filename
    window.DownloadedFileName = "@ViewBag.DownloadedFileName";
</script>
